#__next {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 64px;
  height: 64px;
  background: transparent;
  /* background: #ffffff; */
  /* box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.1); */
  /* border-radius: 50%; */
  font-weight: 600;
  font-size: 30px;
  /* color: #5ba1ef; */
  color: #fff;
  border: none;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.2s;
}

button:active {
  color: #5ba1ef;
  background: #ffffff;
  box-shadow: none;
  /* opacity: 0.8; */
}

.dNjhej.dNjhej.dNjhej,
.fdKqgb.fdKqgb.fdKqgb {
  margin-top: 0 !important;
  width: auto !important;
  height: auto !important;
  position: fixed !important;
  left: 0 !important;
  bottom: 0 !important;
}

.keGais.keGais.keGais,
.faHkTE.faHkTE.faHkTE {
  width: 33.33vw !important;
  height: 50px !important;
  font-size: 30px !important;
}
